<section role="region">
  <header>
    <img src="/images/annaelsa.jpg" alt="">
  </header>
  <article role="article">
    <h2>„Es wird ein Mädchen!“ „Es wird ein Junge!“&hellip;</h2>
    <p>
      Die ersten Informationen, die Sie über Ihr Kind erhalten haben, sind, ob es gesund ist und natürlich welchem Geschlecht es angehört. Ob es eine Junge oder ein Mädchen wird, ist in unserer Gesellschaft von enormer Bedeutung und wir schreiben den Jungen und Mädchen ganz spezielle Charaktereigenschaften zu. Wie Jungen und Mädchen tendenziell sind, hängt ganz davon ab, wo wir leben und welche Werte und Normen wir in unserem Kulturkreis vertreten. Kinder sind schon sehr früh in der Lage, zu erspüren, was erwartet und was nicht gerne gesehen wird und wir helfen ihnen dabei. Umso älter sie werden, umso mehr werden sie zu Jungen oder zu Mädchen und erleben die Welt ein bisschen anders. Das kann für sie eine Erleichterung sein. So erhalten sie Orientierung, um sich in dieser Welt zurecht zu finden, darin zu wirken und Wege einzuschlagen. Für jeden von uns ist es bereichernd, diese unterschiedlichen Sichtweisen auf die Welt kennenzulernen.
    </p>
  </article>
</section>
