<section role="region">
  <article role="article">
    <h2>Wenn es zur Belastung wird, ein Junge oder ein Mädchen zu sein&hellip;</h2>
    <p>
      Als Junge oder als Mädchen betrachtet zu werden, kann aber auch eine Bürde werden. Beispielweise dann, wenn man aufgrund seines Geschlechts benachteiligt wird. Mädchen und Jungen werden häufig Möglichkeiten verwehrt, weil ihnen aufgrund ihres Geschlechts bestimmte Fähigkeiten oder Interessen nicht zugetraut werden. Auch haben Mädchen wie Jungen oft mit geschlechtsspezifische Erwartungen zu kämpfen. Diese werden von außen an sie heran getragen, weil ihnen aufgrund ihres Geschlechts bestimmte Fähigkeiten und Interessen unterstellt werden. Schlimm trifft es jedoch auch diejenigen, die das Gefühl haben, in keine der zwei Kategorien hineinzupassen.
      <br>
      Wir alle wollen für unsere Kinder nur das Beste. Wir wollen, dass sie sich frei entfalten können, dass sie gehört werden und vor allem, dass sie glücklich sind. Jedoch ist jeder von uns in einer Welt aufgewachsen, die nunmal dies oder das vorsieht für Jungen und Mädchen und auch wir haben diese Regeln verinnerlicht. Obwohl diese immer mehr aufweichen und sich wandeln, sind sie dennoch existent und jeder von uns trägt sie unbewusst weiter, spricht und handelt nach ihnen. Problematisch ist das nur, wenn Kinder, aufgrund ihres Geschlechts, Nachteile haben.
    </p>
  </article>
  <article role="article">
    <h2>Stellen Sie sich doch einmal folgende Fragen:</h2>
    <ul class="small">
      <li>Welche Aufgaben habe ich im Tagesablauf als Mann bzw. Frau?</li>
      <li>Welche Privilegien habe ich als Mann bzw. Frau?</li>
      <li>Gibt es etwas, was ich nicht getan habe/ tun kann, weil ich ein Mann bzw. eine Frau bin?</li>
      <li>In welchen Situationen verhalte ich mich typisch männlich bzw. weiblich? </li>
      <li>In welchen Situationen verhalte ich mich untypisch männlich bzw. weiblich?</li>
      <li>Wie viel Aufmerksamkeit schenke ich meinem Mädchen bzw. meinem Jungen?</li>
      <li>Welche Aufgaben hat mein Mädchen bzw. mein Junge im Alltag?</li>
      <li>Welche Privilegien hat mein Mädchen bzw. mein Junge im Alltag?</li>
      <li>Lobe ich mein Mädchen, wenn sie sich kümmert, rücksichtsvoll ist oder aufräumt oder sehe ich das als selbstverständlich an? Darf sie sich behaupten, Raum einnehmen und Wut ausdrücken? Unterstütze ich sie, mal andere Spiele und sich im technischen Bereich auszuprobieren?</li>
      <li>Lasse ich meinem Jungen Raum, um Ängste und Traurigkeit auszudrücken? Ziehe ich ihn zu Alltagspflichten wie aufräumen hinzu? Unterstütze ich meinen Jungen auch mal andere Spiele auszuprobieren und kreative Fähigkeiten zu erproben?</li>
      <li>Was erwarte ich von Jungen bzw. Mädchen in Konfliktsituationen?</li>
    </ul>

    <small class="source">(Quelle: Petra Focks: Starke Mädchen, starke Jungs)</small>
  </article>
</section>
