<section role="region">
  <header>
    <img src="images/spongebob.jpg" alt="">
  </header>
  <article role="article">
    <h2>Die Möglichkeiten von Jungen und Mädchen erweitern&hellip;</h2>
    <p>
      Es ist nicht Ziel, Mädchen und Jungen zu den jeweiligen Interessen und Eigenschaften des anderen Geschlechts hin zu erziehen. Das würde nichts ändern und neue Barrieren schaffen. Es ist in Ordnung, wenn Jungs Fußball mögen und Mädchen mit Puppen spielen wollen! Das Ziel ist, die Vorstellung von dem ‚richtigen Jungen‘ und dem ‚richtigen Mädchen‘ loszulassen, um unseren Kindern mehr Freiheiten zu gewähren die Art Junge oder Mädchen zu werden, die sie für richtig halten.
      <br>
      Dazu ein Beispiel: Ein Junge liebte seine rosa Frühstücksdose für den Kindergarten. Seine Eltern dachten sich nichts dabei, aber in der Kita trifft er auf Kommentare, wie: „Schaut mal, der hat eine rosa Frühstücksdose. Die ist doch für Mädchen!“ Selbst, wenn an dieser Stelle ein Erzieher oder eine Erzieherin eingreift – der Kommentar hat Wirkung. Nach einiger Zeit wollte der Junge seine rosa Frühstücksdose nicht mehr mit in die Kita bringen. Er hatte nicht die freie Wahl.
      <br>
      Ein zweites Beispiel: Auf dem Hinweg zur Kita ist einer Erzieherin die Kette vom Fahrrad abgesprungen. Sie beschließt, die Kette mit den Kindern gemeinsam wieder aufzulegen und teilt das ihrem Kollegen im Voraus mit. Nach dem Frühstück ruft dieser in den Raum: „Wer von den Jungs kann eine Kette wieder auf das Fahrrad ziehen?“ Jungen wie Mädchen wird hier eine ganz bestimmte Richtung suggeriert, die freie Wahl wird ihnen erschwert.
      <br>
      Solche unüberlegten Äußerungen, denen keine böse Absicht innewohnt, führen jedoch genau zu den eingeschränkten Möglichkeiten, die Jungen und Mädchen aufgrund ihres Geschlechts haben. Wenn wir uns dessen bewusst werden, können wir diese Dinge verändern!
    </p>
  </article>
</section>
