<section role="region">
  <header>
    <img src="images/bibitina.jpg" alt="">
  </header>
  <article role="article">
    <h2>Faszination Kinderfilme&hellip;</h2>
    <p>
      Unsere Kinder lieben das Fernsehen und das Filme schauen, vor allem, wenn Kinder wie sie im Mittelpunkt der Handlung stehen. Kein Wunder! Kinderfilme ermöglichen es unseren Kindern zu verstehen, wie die Welt funktioniert. Alltägliche Situationen – aus dem Kindergarten oder von zu Hause – können anhand von Kinderfilmen verstanden und besser bearbeitet werden.
      <br>
      Da sie sich selbst als Junge oder Mädchen definieren, suchen sie sich dementsprechend Vorbilder in ihren Lieblingsfilmen und -serien. Die Helden und Heldinnen unserer Kinder erleben für sie Abenteuer und bewältigen schwierige Aufgaben. Sie zeigen ihnen auch, wie Mädchen und Jungen sich verhalten und wie ihnen als Mädchen oder als Junge Anerkennung zuteil wird.
      <br>
      Das ist eine große Unterstützung für sie und ist in seiner Wirkung nicht zu unterschätzen. Denn die Präsenz dieser Botschaften an Jungen und Mädchen, vor allem im Zusammenhang mit konsumorientierter Vermarktung, ist allgegenwärtig.
    </p>
  </article>
</section>
