<section role="region">
  <header>
    <img src="images/starwars.jpg" alt="">
  </header>
  <article role="article">
    <h2>Ein Blick hinter die Kulissen&hellip;</h2>
    <h3>
      <!-- TODO: tipp -->
      (Tipp: Die Initiative ‚Der besondere Kinderfilm‘ fördert Kinderfilme, die einen besonders qualitativen Anspruch haben: http://www.der-besondere-kinderfilm.de/das-modell/)
    </h3>
    <p>
      Neben allen positiven Effekten, dürfen die negativen Aspekte nicht aus den Augen verloren werden! Damit sich ein Kinderfilm oder eine Serie rentiert, müssen Sie ins Kino gehen, einschalten, die DVD kaufen. Es wird also immer auch produziert werden, was sich gut verkauft. Hier wird häufig auf Altbewährtes zurück gegriffen und die Vielfalt an Kinderfilmen und -serien leidet darunter.
      <br>
      Von wem ein Kinderfilm oder eine Kinderserie produziert wurde, liefert außerdem Aufschluss über den Inhalt und die Darstellung der Mädchen und Jungen im Kinderfilm. Welche Ansichten und Vorstellungen haben die Verantwortlichen im Produktionsprozess und wie fließen diese in den Film mit ein?
      <br>
      Ein Beispiel: Die entscheidungstragenden Personen in der Produktion von Kinderfernsehen waren im Jahr 2012 zu 80,9% Männer.
      <br>
      <small class="source">
        <a href="http://www.br-online.de/jugend/izi/deutsch/publikation/televizion/26-2013-2/Goetz_Kinderfernsehen.pdf">
          (Quelle: Maya Götz, Wer produziert Kinderfernsehen, TelevIZIon).
        </a>
      </small>
    </p>
    <p>
      Das führt bspw. dazu, dass Mädchen und Frauen im Kinderfernsehen deutlich unterrepräsentiert sind und weniger wichtige Rollen einnehmen, als die männlichen Darsteller.
      <br>
      Das hat für die Mädchen einen großen Nachteil, sie haben weniger Heldinnen und Vorbilder, mit denen sie sich identifizieren können und an denen sie lernen können. Auch ist es schwierig, sich in die Lebenswelt des anderen Geschlechts einzufühlen und diese authentisch wiederzugeben. Themen der Mädchen werden hier, wenn überhaupt, häufig aus einer männlichen Sichtweise heraus aufgegriffen.
    </p>
  </article>
</section>
