<section role="region">
  <article role="article">
    <h2>Die Jungen und Mädchen in Kinderfilmen&hellip;</h2>
    <p>
      Im günstigsten Fall würden unsere Kinder vielfältige Weiblichkeits- und Männlichkeitsbilder in den Medien vorfinden, um dann ihren eigenen Weg gehen zu können. Leider treffen wir noch immer mehrheitlich auf Stereotype im Kinderfilm - und fernsehen. Hier werden den Jungen und Mädchen die immer selben Eigenschaften und Verhaltensweisen zugeschrieben und unseren Kindern präsentiert.
    </p>
    <p>
      Vielleicht finden Sie einige der folgenden Aspekte auch in den Lieblingsserien- und filmen Ihrer Kinder wieder:
    </p>
    <p>
      Mädchen und Frauen im Kinderfilm und -fernsehen sind häufig&hellip;
      <ul class="small">
        <li>schön</li>
        <li>unnatürlich sexy, mit langen Beinen und Wespentaille</li>
        <li>interessiert an Liebe und Schönheit</li>
        <li>Teil eines Teams, wobei die eigentlich handlungstragenden Charaktere, männlich sind</li>
        <li>selten Anführerinnen</li>
        <li>umsorgend und kümmern sich um andere</li>
        <li>angepasst</li>
      </ul>
      <small class="source">(Quelle: Maya Götz: Die Fernsehheld(inn)en der Mädchen und Jungen)</small>
    </p>
  </article>
  <article role="article">
    <p>
      <!-- TODO: gleiche höhe wie text links (unter überschrift) -->
      Jungen und Männer im Kinderfilm und -fernsehen sind häufig&hellip;
      <ul class="small">
        <li>Einzelkämpfer oder Anführer</li>
        <li>nicht gehemmt, Grenzen zu überschreiten</li>
        <li>bestrebt, die Dinge anzupacken</li>
        <li>interessiert zu kämpfen</li>
        <li>in der Lage, sich leicht aus traditionellen, religiösen oder emotionalen Bindungen zu lösen.</li>
      </ul>
      <small class="source">
        <a href="http://www.br-online.de/jugend/izi/deutsch/publikation/televizion/26-2013-2/Winter.pdf">
          (Quelle:Reinhard Winter: Jungen heute. Perspektiven für weniger klischeehafte Jungen- und Männerbilder im Kinderfernsehen, TelevIZIon)
        </a>
      </small>
    </p>
    <p>
      Jungen und Mädchen lernen von den Männern und Frauen aus ihrem Umfeld, aber eben auch von den Jungen und Mädchen aus ihren Lieblingsfilmen. Obwohl wir nie wissen, wie unsere Kinder die Botschaften verstehen oder bewerten, wirkt das immer gleiche Bild von Weiblichkeit und Männlichkeit auf Dauer einschränkend. Umso wichtiger ist es, uns selbst und unsere Kinder stark zu machen, dass sie das beste für sich heraus ziehen können. Sie, als Eltern, können Ihr Kind dabei unterstützen.
    </p>
  </article>
</section>
