<section role="region">
  <header>
    <img src="images/rakete.jpg" alt="">
  </header>
  <article role="article">
    <h2>Was Sie als Eltern tun können&hellip;</h2>
    <p>
      Werden Sie sich bewusst, welche Bilder von Männlichkeit und Weiblichkeit Sie verinnerlicht haben und in welchen Situationen diese zum Vorschein kommen.
    </p>
    <p>
      Fragen Sie sich, ob Ihre Erwartungen an Ihr Kind, ihm Orientierung geben oder  ob sie es eher einschränken.
    </p>
    <p>
      Weisen Sie Ihr Kind auch auf alternative Lebensweisen von Frauen und Männern, bspw. aus dem Bekanntenkreis oder aus den Medien, hin. Zeigen Sie ihm, dass es eine Menge Möglichkeiten gibt, Junge, Mann, Mädchen und Frau zu sein und dass das gut ist.
    </p>
    <p>
      Auf keinen Fall sollten Sie die Vorbilder Ihres Kindes schlecht machen oder Kinderfilme und -serien verbieten. Ihr Kind wird seine Gründe haben, warum sie ihm gefallen und etwas für sich heraus ziehen können.
      <br>
      Fragen Sie Ihr Kind danach und versuchen Sie zu verstehen:
    </p>
    <ul class="small">
      <li>„Warum gefällt dir &hellip;?“</li>
      <li>„Wärst du gerne, wie &hellip;?“</li>
      <li>„Kennst du jemanden, der wie &hellip; ist?“</li>
    </ul>
    <p>
      Kritik an Figuren oder Handlungen können sie aus der Ich-Perspektive äußern:
    </p>
    <ul class="small">
      <li>„Ich finde schade, dass&hellip;“</li>
      <li>„Ich mag nicht, dass&hellip;“</li>
    </ul>
  </article>
</section>
