<section role="region">
  <article role="article">
    <p>
      Beim Schauen von Kinderfilmen und -serien sollten Sie Ihr Kind begleiten. Dabei werden bei Ihrem Kind häufig Fragen aufgeworfen oder schwierige Situationen müssen erst verarbeitet werden. Es wird Ihrem Kind helfen, wenn Sie im Nachhinein mit ihm über das Gesehene reden.
      <br>
      Eine fragende und neugierige Haltung ist von Vorteil:
    </p>
    <ul class="small">
      <li>„Wie findest du das, was da passiert ist?“</li>
      <li>„Würdest du das auch so machen?“</li>
      <li>„Mich hat überrascht/ wütend gemacht/ traurig gemacht/ froh gemacht, dass &hellip; - Wie ging es dir dabei?“</li>
    </ul>
    <p>
      Nehmen Sie in den Filmen und Serien Ihres Kindes häufig stereotype Darstellungen von Mädchen, Jungen, Frauen und Männern wahr, sollte das vorsichtig angesprochen werden. Auf diese Weise wird Ihrem Kind die Möglichkeit gegeben, das Gesehene von sich und der Wirklichkeit zu distanzieren.
      <br>
      Gehen Sie dabei auf ganz spezifische Szenen ein:
    </p>
    <ul class="small">
      <li>„Warum tut er/ sie das?“</li>
      <li>„Warum reagieren die anderen so?“</li>
    </ul>
  </article>
  <article role="article">
    <p>
      Erzählen Sie Ihrem Kind, dass Erwartungen und Aufgaben an Jungs und Mädchen von der Zeit und Kultur abhängig sind und sich deswegen auch verändern können. Zum Beispiel, dass Mädchen früher keine Hosen tragen durften oder die Farbe Rosa nur für männliche Adelige bestimmt war.
      <br>
      Überlegen Sie mit Ihrem Kind, wie heute die Gewohnheiten für Mädchen, Frauen, Jungen und Männer sind. Fragen Sie sich sich und Ihr Kind, welche Vorteile und Nachteile es hat, diese Gewohnheiten mitzumachen.
    </p>
    <p>
      Nie war es einfacher, selbst aktiv zu werden und einen kleinen Film zu produzieren. So können Sie und Ihr Kind in Rollen schlüpfen, die selbst bestimmt sind und Sie haben die Möglichkeit – spielerisch und mit Humor – Stereotype auch mal zu brechen. Schaffen Sie selbst Vielfalt!
    </p>
    <p>
      Erkundigen Sie sich nach Kinderfilmen und -serien, die alternative und realistische Bilder von Mädchen und Jungen zeigen und schauen Sie sie mit Ihrem Kind.
    </p>
  </article>
</section>
