<section role="region">
  <article role="article" class="sources-and-links">
    <h2>Für noch mehr Infos zum Thema:</h2>
    <p>
      Geschlechtersensible Erziehung:
      <br>
      <a class="small" href="http://www.meermaenner.de/downloads/grp_layout_praes3-1.pdf" title="Die blöde Feuerwehr als PDF Dokument (~15MB)">Die blöde Feuerwehr. Geschlechterreflektierende Pädagogik in Kinderladen und Kita</a>
    </p>
    <p>
      Medien und Geschlecht:
      <br>
      <a class="small" href="http://www.kinofenster.de" title="kinofenster.de – das Online-Portal für Filmbildung">Kinofenster. Das Onlineportal für Filmbildung, Kategorie: Geschlecht/ Geschlechterrollen</a>
    </p>
    <p>
      Kinderfilmempfehlungen:
      <br>
      <a class="small" href="http://kinderfilmblog.de" title="Kinderfilmblog - das Trüffelschweinchen unter den Filmblogs">Kinderfilmblog. Das Trüffelschwein unter den Filmblogs</a>
    </p>
    <p>
      Fernsehen und Familie:
      <br>
      <a class="small" href="https://www.bmfsfj.de/blob/93926/a21d212ef3d0bc9e24d6a1a40ed318d5/geflimmer-im-zimmer-data.pdf" title="Geflimmer im Zimmer als PDF Dokument (~2MB)">Geflimmer im Zimmer, Broschüre des Bundesministeriums für Familie, Senioren, Frauen und Jugend</a>
    </p>
  </article>
  <footer role="contentinfo">
    <p>
      <small>Tanja Dinnis</small>
    </p>
  </footer>
</section>
