---
title: Jungen Mädchen Kinderfilme
subTitle: Elternbroschüre zum Umgang mit Geschlechterrollen
---
<main role="main">
  <section role="region">
    <header>
      <img src="https://placekitten.com/g/800/450" alt="">
    </header>
    <article role="article">
      <h2>„Es wird ein Mädchen!“ „Es wird ein Junge!“...</h2>
      <p>
        Die ersten Informationen, die Sie über ihr Kind erhalten haben, sind, ob es gesund ist und natürlich welchem Geschlecht es angehört. Ob es eine Junge oder ein Mädchen wird, ist in unserer Gesellschaft von enormer Bedeutung und wir schreiben den Jungen und Mädchen ganz spezielle Charaktereigen- schaften zu. Wie Jungen und Mädchen tendenziell sind, hängt ganz davon ab, wo wir leben und welche Werte und Normen wir in unserem Kulturkreis vertreten. Kinder sind schon sehr früh in der Lage, zu erspüren, was erwartet und was nicht gerne gesehen wird und wir helfen ihnen dabei.
        <br>
        Umso älter sie werden, umso mehr werden sie zu Jungen oder zu Mädchen und erleben die Welt ein bisschen anders. Das kann für sie eine Erleichterung sein. So erhalten sie Orientierung, um sich in dieser Welt zurecht zu  nden, darin zu wirken und Wege einzuschlagen. Für jeden von uns ist es bereichernd, diese unterschiedlichen Sichtweisen auf die Welt kennenzulernen.
      </p>
    </article>
  </section>

  <section role="region">
    <article role="article">
      <h2>Wenn es zur Belastung wird, ein Junge oder ein Mädchen zu sein...</h2>
      <p>
        Als Junge oder als Mädchen betrachtet zu werden, kann aber auch eine Bürde werden. Beispielweise dann, wenn man aufgrund seines Geschlechts benachteiligt wird. Mädchen und Jungen werden häu g Möglichkeiten verwehrt, weil ihnen aufgrund ihres Geschlechts bestimmte Fähigkeiten oder Interessen nicht zugetraut werden. Auch haben Mädchen wie Jungen oft mit geschlechtsspezi sche Erwartungen zu kämpfen. Diese werden von außen an sie heran getragen, weil ihnen aufgrund ihres Geschlechts bestimmte Fähigkeiten und Interessen unterstellt werden. Schlimm tri t es jedoch auch diejenigen, die das Gefühl haben, in keine der zwei Kategorien hineinzupassen.
        <br>
        Wir alle wollen für unsere Kinder nur das Beste. Wir wollen, dass sie sich frei entfalten können, dass
        <br>
        sie gehört werden und vor allem, dass sie glücklich sind. Jedoch ist jeder von uns in einer Welt aufgewachsen, die nunmal dies oder das vorsieht für Jungen und Mädchen und auch wir haben diese Regeln verinnerlicht. Obwohl diese immer mehr aufweichen und sich wandeln, sind sie dennoch existent und jeder von uns trägt sie unbewusst weiter, spricht und handelt nach ihnen. Problematisch ist das nur, wenn Kinder, aufgrund ihres Geschlechts, Nachteile haben.
      </p>
    </article>
    <article role="article">
      <h2>Stellen Sie sich doch einmal folgende Fragen:</h2>
      <ul class="small">
        <li>Welche Aufgaben habe ich im Tagesablauf als Mann bzw. Frau?</li>
        <li>Welche Privilegien habe ich als Mann bzw. Frau?</li>
        <li>Gibt es etwas, was ich nicht getan habe/ tun kann, weil ich ein Mann bzw. eine Frau bin? <li>In welchen Situationen verhalte ich mich typisch männlich bzw. weiblich?</li>
        <li>In welchen Situationen verhalte ich mich untypisch männlich bzw. weiblich?</li>
        <li>Wie viel Aufmerksamkeit schenke ich meinem Mädchen bzw. meinem Jungen?</li>
        <li>Welche Aufgaben hat mein Mädchen bzw. mein Junge im Alltag?</li>
        <li>Welche Privilegien hat mein Mädchen bzw. mein Junge im Alltag?</li>
        <li>Lobe ich mein Mädchen, wenn sie sich kümmert, rücksichtsvoll ist oder aufräumt oder sehe ich das als selbstverständlich an?</li>
        <li>Darf sie sich behaupten, Raum einnehmen und Wut ausdrücken?</li>
        <li>Unterstütze ich sie, mal andere Spiele und sich im technischen Bereich auszuprobieren?</li>
        <li>Lasse ich meinem Jungen Raum, um Ängste und Traurigkeit auszudrücken?</li>
        <li>Ziehe ich ihn zu Alltagsp ichten wie aufräumen hinzu?</li>
        <li>Unterstütze ich meinen Jungen auch mal andere Spiele auszuprobieren und kreative Fähigkeiten zu erproben?</li>
        <li>Was erwarte ich von Jungen bzw. Mädchen in Kon iktsituationen?</li>
      </ul>

      <small>(Quelle: Petra Focks: Starke Mädchen, starke Jungs)</small>
    </article>
  </section>

  <section role="region">
    <header>
      <img src="https://placekitten.com/g/800/451" alt="">
    </header>
    <article role="article">
      <h2>Die Möglichkeiten von Jungen und Mädchen erweitern...</h2>
      <p>
        Es ist nicht Ziel, Mädchen und Jungen zu den jeweiligen Interessen und Eigenschaften des anderen Geschlechts hin zu erziehen. Das würde nichts ändern und neue Barrieren scha en.
        <br>
        Es ist in Ordnung, wenn Jungs Fußball mögen und Mädchen mit Puppen spielen wollen! Das Ziel ist, die Vorstellung von dem ‚richtigen Jungen‘ und dem ‚richtigen Mädchen‘ loszulassen, um unseren Kindern mehr Freiheiten zu gewähren die Art Junge oder Mädchen zu werden, die sie für richtig halten.
        <br>
        Dazu ein Beispiel: Ein Junge liebte seine rosa Frühstücksdose für den Kindergarten.
        <br>
        Seine Eltern dachten sich nichts dabei, aber in der Kita tri t er auf Kommentare, wie: „Schaut mal, der hat eine rosa Frühstücksdose. Die ist doch für Mädchen!“ Selbst, wenn an dieser Stelle ein Erzieher oder eine Erzieherin eingreift – das Kommentar hat Wirkung. Nach einiger Zeit wollte der Junge seine rosa Frühstücksdose nicht mehr mit in die Kita bringen. Er hatte nicht die freie Wahl.
        <br>
        Ein zweites Beispiel: Auf dem Hinweg zur Kita ist einer Erzieherin die Kette vom Fahrrad abgesprungen. Sie beschließt, die Kette mit den Kindern gemeinsam wieder aufzulegen und teilt das ihrem Kollegen im Voraus mit. Nach dem Frühstück ruft dieser in den Raum: „Wer von den Jungs kann eine Kette wieder auf das Fahrrad ziehen?“ Jungen wie Mädchen wird hier eine ganz bestimmte Richtung suggeriert, die freie Wahl wird ihnen erschwert.
        <br>
        Solche unüberlegten Äußerungen, denen keine böse Absicht innewohnt, führen jedoch genau zu den eingeschränkten Möglichkeiten, die Jungen und Mädchen aufgrund ihres Geschlechts haben.
        <br>
        Wenn wir uns dessen bewusst werden, können wir diese Dinge verändern!
      </p>
    </article>
  </section>

  <section role="region">
    <header>
      <img src="https://placekitten.com/g/800/449" alt="">
    </header>
    <article role="article">
      <h2>Faszination Kinder lme...</h2>
      <p>
        Unsere Kinder lieben das Fernsehen und das Filme schauen, vor allem, wenn Kinder wie sie im Mittelpunkt der Handlung stehen. Kein Wunder! Kinder lme ermöglichen es unseren Kindern zu verstehen, wie die Welt funktioniert. Alltägliche Situationen – aus dem Kindergarten oder von zu Hause – können anhand von Kinder lmen verstanden und besser bearbeitet werden.
        <br>
        Da sie sich selbst als Junge oder Mädchen de nieren, suchen sie sich dementsprechend Vorbilder in ihren Lieblings lmen und -serien. Die Helden und Heldinnen unserer Kinder erleben für sie Abenteuer und bewältigen schwierige Aufgaben. Sie zeigen ihnen auch, wie Mädchen und Jungen sich verhalten und wie ihnen als Mädchen oder als Junge Anerkennung zuteil wird.
        <br>
        Das ist eine große Unterstützung für sie und ist in seiner Wirkung nicht zu unterschätzen. Denn die Präsenz dieser Botschaften an Jungen und Mädchen, vor allem im Zusammenhang mit konsumorientierter Vermarktung, ist allgegenwärtig.
      </p>
    </article>
  </section>

  <section role="region">
    <header>
      <img src="https://placekitten.com/g/800/452" alt="">
    </header>
    <article role="article">
      <h2>Ein Blick hinter die Kulissen...</h2>
      <p>
        Neben allen positiven E ekten, dürfen die negativen Aspekte nicht aus den Augen verloren werden! Da- mit sich ein Kinder lm oder eine Serie rentiert, müssen Sie ins Kino gehen, einschalten, die DVD kaufen. Es wird also immer auch produziert werden, was sich gut verkauft. Hier wird häu g auf Altbewährtes zu- rück gegri en und die Vielfalt an Kinder lmen und -serien leidet darunter. Von wem ein Kinder lm oder eine Kinderserie produziert wurde, liefert außerdem Aufschluss über den Inhalt und die Darstellung der Mädchen und Jungen im Kinder lm. Welche Ansichten und Vorstellungen haben die Verantwortlichen im Produktionsprozess und wie  ießen diese in den Film mit ein?
        <br>
        Ein Beispiel: Die entscheidungstragenden Personen in der Produktion von Kinderfernsehen waren im Jahr 2012 zu 80,9% Männer
        <br>
        <small>(Quelle: Maya Götz, Wer produziert Kinderfernsehen, TelevIZIon).</small>
      </p>
      <p>
        Das führt bspw. dazu, dass Mädchen und Frauen im Kinderfernsehen deutlich unterrepräsentiert sind und weniger wichtige Rollen einnehmen, als die männlichen Darsteller.
        <br>
        Das hat für die Mädchen einen großen Nachteil, sie haben weniger Heldinnen und Vorbilder, mit denen sie sich identi zieren können und an denen sie lernen können. Auch ist es schwierig, sich in die Lebens- welt des anderen Geschlechts einzufühlen und diese authentisch wiederzugeben. Themen der Mädchen werden hier, wenn überhaupt, häu g aus einer männlichen Sichtweise heraus aufgegri en.
      </p>
    </article>
  </section>

  <section role="region">
    <article role="article">
      <h2>Die Jungen und Mädchen in Kinder lmen</h2>
      <p>
        Im günstigsten Fall würden unsere Kinder vielfältige Weiblichkeits- und Männlichkeitsbilder in den Medien vor nden, um dann ihren eigenen Weg gehen zu können. Leider tre en wir noch immer mehrheitlich auf Stereotype im Kinder lm - und fernsehen. Hier werden den Jungen und Mädchen die immer selben Eigenschaften und Verhaltensweisen zugeschrieben und unseren Kindern präsentiert.
        <br>
        Vielleicht  nden Sie einige der folgenden Aspekte auch in den Lieblingsserien- und  lme ihrer Kinder wieder:
        <br>
        Mädchen und Frauen im Kinder lm und -fernsehen sind häu g...
        <br>
        <ul>
          <li>schön</li>
          <li>unnatürlich sexy, mit langen Beinen und Wespentaille interessiert an Liebe und Schönheit</li>
          <li>Teil eines Teams, wobei die eigentlich handlungstragenden Charaktere, männlich sind selten Anführerinnen umsorgend und kümmern sich um andere angepasst.</li>
        </ul>
        <br>
        <small>(Quelle: Maya Götz: Die Fernsehheld(inn)en der Mädchen und Jungen)</small>
      </p>
    </article>
    <article role="article">
      <h2>Jungen und Männer im Kinder lm und -fernsehen sind häu g...</h2>
      <p>
        Einzelkämpfer oder Anführer nicht gehemmt, Grenzen zu überschreiten bestrebt, die Dinge anzupacken interessiert zu kämpfen in der Lage, sich leicht aus traditionellen, religiösen oder emotionalen Bindungen zu lösen.
        <br>
        <small>(Quelle: Reinhard Winter: Jungen heute. Perspektiven für weniger klischeehafte Jungen- und Männerbilder im Kinderfernsehen, TelevIZIon)</small>
      </p>
      <p>
        Jungen und Mädchen lernen von den Männern und Frauen aus ihrem Umfeld, aber eben auch von den Jungen und Mädchen aus ihren Lieblings lmen. Obwohl wir nie wissen, wie unsere Kinder die Botschaften verstehen oder bewerten, wirkt das immer gleiche Bild von Weiblichkeit und Männlichkeit auf Dauer einschränkend. Umso wichtiger ist es, uns selbst und unsere Kinder stark zu machen, dass sie das beste für sich heraus ziehen können. Sie, als Eltern, können ihr Kind dabei unterstützen.
      </p>
    </article>
  </section>

  <section role="region">
    <header>
      <img src="https://placekitten.com/g/800/448" alt="">
    </header>
    <article role="article">
      <h2>Was Sie als Eltern tun können...</h2>
      <p>
        Werden Sie sich bewusst, welche Bilder von Männlichkeit und Weiblichkeit Sie verinnerlicht haben und in welchen Situationen diese zum Vorschein kommen.
        <br>
        Fragen Sie sich, ob Ihre Erwartungen an Ihr Kind, ihm Orientierung geben oder ob sie es eher einschränken. Weisen Sie ihr Kind auch auf alternative Lebensweisen von Frauen und Männern, bspw. aus dem Bekanntenkreis oder aus den Medien, hin. Zeigen Sie ihm, dass es eine Menge Möglichkeiten gibt, Junge, Mann, Mädchen und Frau zu sein und dass das gut ist.
      </p>
      <p>
        Auf keinen Fall sollten Sie die Vorbilder ihres Kindes schlecht machen oder Kinder lme und -serien verbieten. Ihr Kind wird seine Gründe haben, warum sie ihm gefallen und etwas für sich heraus ziehen können.
        <br>
        Fragen Sie Ihr Kind danach und versuchen Sie zu verstehen:
        <br>
        <ul>
          <li>„Warum gefällt dir ...?“</li>
          <li>„Wärst du gerne, wie ...?“</li>
          <li>„Kennst du jemanden, der wie ... ist?“</li>
        </ul>
      </p>
      <p>
        Kritik an Figuren oder Handlungen können sie aus der Ich-Perspektive äußern.
        <br>
        <ul>
          <li>„Ich  nde schade, dass...“„Ich mag nicht, dass...“</li>
        </ul>
      </p>
      <p>Beim Schauen von Kinder lmen und -serien sollten Sie ihr Kind begleiten. Dabei werden bei ihrem Kind häu g Fragen aufgeworfen oder schwierige Situationen müssen erst verarbeitet werden. Es wird ihrem Kind helfen, wenn Sie im Nachhinein mit ihm über das Gesehene reden.</p>
    </article>
  </section>

  <section role="region">
    <article role="article">
      <h2>Eine fragende und neugierige Haltung ist von Vorteil:</h2>
      <p>
        <ul>
          <li>„Wie  ndest du das, was da passiert ist?“</li>
          <li>„Würdest du das auch so machen?“</li>
          <li>„Mich hat überrascht/ wütend gemacht/ traurig gemacht/ froh gemacht, dass ... Wie ging es dir dabei?“</li>
        </ul>
      </p>
      <p>
        Nehmen Sie in den Filmen und Serien ihres Kindes häu g stereotype Darstellungen von Mädchen, Jungen, Frauen und Männern wahr, sollte das vorsichtig angesprochen werden. Auf diese Weise wird ihrem Kind die Möglichkeit gegeben, das Gesehene von sich und der Wirklichkeit zu distanzieren.
        <br>
        Gehen sie dabei auf ganz spezi sche Szenen ein:
        <br>
        <ul>
          <li>„Warum tut er/ sie das?“</li>
          <li>„Warum reagieren die anderen so?“</li>
        </ul>
      </p>
    </article>
    <article role="article">
      <p>
        Erzählen Sie ihrem Kind, dass Erwartungen und Aufgaben an Jungs und Mädchen von der Zeit und Kultur abhängig sind und sich deswegen auch verändern können. Zum Beispiel, dass Mädchen früher keine Hosen tragen durften oder die Farbe Rosa nur für männliche Adelige bestimmt war.
        <br>
        Überlegen Sie mit ihrem Kind, wie heute die Gewohnheiten für Mädchen, Frauen, Jungen und Männer sind. Fragen Sie sich sich und ihr Kind, welche Vorteile und Nachteile es hat, diese Gewohnheiten mitzumachen.
      </p>
      <p>
        Nie war es einfacher, selbst aktiv zu werden und einen kleinen Film zu produzieren.
        <br>
        So können Sie und ihr Kind in Rollen schlüpfen, die selbst bestimmt sind und Sie haben die Möglichkeit – spielerisch und mit Humor – Stereotype auch mal zu brechen. Scha en Sie selbst Vielfalt!
      </p>
      <p>
        Erkundigen Sie sich nach Kinder lmen und -serien, die alternative und realistische Bilder von Mädchen und Jungen zeigen und schauen Sie sie mit ihrem Kind.
      </p>
    </article>
  </section>

  <section role="region">
    <article role="article">
      <h2>Für noch mehr Infos zum Thema:</h2>
      <p>
        Geschlechtersensible Erziehung:
        <br>
        Die blöde Feuerwehr. Geschlechterre ektierende Pädagogik in Kinderladen und Kita, vom Projekt: Männer in Kinderläden (http://www.meermaenner.de)
      </p>
      <p>
        Medien und Geschlecht:
        <br>
        Kinofenster. Das Onlineportal für Filmbildung, Kategorie: Geschlecht/ Geschlechterrollen (http://www.kinofenster.de)
      </p>
      <p>
        Kinder lmempfehlungen:
        <br>
        Kinder lmblog. Das Trü elschwein unter den Filmblogs (http://kinder lmblog.de)
      </p>
      <p>
        Fernsehen und Familie:
        <br>
        Ge immer im Zimmer, Broschüre des Bundesministeriums für Familie, Senioren, Frauen und Jugend (https://www.bmfs .de)
      </p>
    </article>
    <article role="article">
      <p class="footer">
        <small>Tanja Dinnis</small>
      </p>
    </article>
  </section>
</main>
