// typi + settings
@import '../../node_modules/typi/scss/typi';
$breakpoints: (
  small: 480px,
  large: 1024px
);
$typi: (
  null: 16px,
  small: 18px,
  large: 20px
);

// colors
$font-color: #fff;
$background-color: #74b29f;
$link-color: #ddd;
$link-hover-color: #000;

// links
$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

#{$a-tags} {
  color: $link-color;
  // text-decoration: none;
}

#{$a-tags-hover} {
  color: $link-hover-color;
}

// styles
html {
  @include typi-base();
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;

  > img {
    max-width: 100%;
  }
}

section {
  align-items: flex-start;
  background: $background-color;
  color: $font-color;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem 4rem;

  > * {
    flex: 1;
    width: 50%;
  }

  > header {
    align-self: center;

    > img {
      max-width: 100%;
    }
  }

  > article {
    p {
      text-align: justify;
    }
  }

  > article:nth-child(2) {
    padding-left: 4rem;
  }
}

.source {
  display: inline-block;
  margin: 1rem 0;
}

small,
.small {
  font-size: .8rem;
}

.sources-and-links > p {
  text-align: left;
}

footer > p {
  text-align: right;
}

@media only screen and (max-device-width: 1023px) {
  section {
    flex-direction: column;
    padding: 1rem 2rem;
  }

  section > * {
    width: auto;
  }

  section > article:nth-child(2) {
    padding-left: 0;
  }
}
